body {
    background-color: #F0F1F5;
    margin: 0;
    padding: 1rem 12rem;
    font-family: "Helvetica", sans-serif;
}

nav ul li {
    display: inline-block;
    padding: 0 8px;
}

nav ul {
    text-align: right;
}

nav ul li a {
    color: #F9690E;
    text-decoration: none;
    font-weight: bold;
}

header > p {
    float: left;
    color: #F9690E;
    font-weight: bold;
}

nav {
    text-align: right;
}

/* Main section */
.training-program {
    width: 45%;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.training-program h2 {
    color: #F9690E;
}

.training-program img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.training-description {
    color: #333;
}

.training-program button{
    background: #F9690E;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}

footer article {
    width: 46%;
    display: inline-block;
    margin-top: 1rem;
}

footer article:nth-child(2) {
    text-align: right;
}

footer i {
    padding: 16px;
}