* {
padding: 0px;
margin: auto;
box-sizing: border-box;
}

body {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background-color: #7c803d;
}
header {
    background: #abab83;
    border: none;
    padding: 10px;
    margin: 0px auto;
    width: 90%;
}

h1 {
    font-size: 44px;
    line-height: 50px;
}
#nav-menu {
    background: #000;
    border: none;
    padding: 10px;
    margin: 0px auto;
    width: 90%;
    font-size: 18px;

}

#nav-menu a {
    display:inline-block;
    margin: 0 10px;
    background-color: inherit;
    color: #996;
    text-decoration: none;
}
#nav-menu a:hover {
    text-decoration: underline;
    color: #eeede4;
}

#nav-menu a.active {
    color: red;
}

main {
    background: #bfbdbd;
    border: none;
    padding: 10px;
    margin: 0px auto;
    width: 90%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1b1b19;

}

form {
    padding: 20px;
    border: 1px solid #eee;
    background: #f2f2f2;
    width: 60%;
}

label, input {
    display: block;
    width: 100%;
}
input { padding: 10px; }
label { padding: 10px 0; }
input[type=submit] { margin-top: 10px; }

/* FOOTER */
footer {
    background: #abab83;
    border: none;
    padding: 10px;
    margin: 0px auto;
    width: 90%;
    height: 100%;
}
.row{
    width: 100%;
    height: 120px;
    
}
.column {
    float: left;
    margin-left: 30px;
}
.left {
    width: 35%;
}
.middle {
    width: 20%;
}
.middle2 {
    width: 15%;
}
.right {
    width: 20%;
}
.column ul {
    list-style-type: none;
}
.column li {
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
}
.column li h3 {
    color: #777;
}
/* GALLERY */
.container {
    width: 100%;
    height: 100%;
}

.top {
    width: 80vw;
    height: 80vh;
}

.top ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    z-index: 1;
    box-sizing: border-box;
}

.top ul li {
    position: relative;
    float: left;
    width: 30%;
    height: 30%;
    overflow: hidden;
    margin: 3px;
}

.top ul li::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: "";
    color: white;
    opacity: 0.4;
    text-align: center;
    box-sizing: border-box;
    pointer-events: none;
}

.top ul li:hover::before {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.top ul li img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    position: relative;
    top: -100%;
}

.lightbox:target {
    outline: none;
    top: 0;
    opacity: 1;
    pointer-events: auto;
}

.lightbox:target img {
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}