.columns {
    column-count: 4;
    column-width: 250px;
    column-rule:  3px solid #bbb;
}
.columns h2 {
    margin-top: 5px;
    background-color: #7c803d;
    color: #fff;
    padding: 10px;
    break-inside: avoid;
}
.columns .quote {
    font-size: 2.5rem;
    line-height: 30px;
    text-align: center;
    column-span: all;
    padding: 30px 0;
}
.nowrap {
    white-space: nowrap;
}
p {
    padding-top: 20px;
    box-sizing: border-box;   
}
img {
    max-width: 100%;
}
 /* SLIDER */
  .slider-container{

    width: 100%;
    min-height: 300px;
    position: relative;
    display:inline-block;
    text-align: center;
    margin-bottom: 20px;
  }
  .clear {
    clear: both;
  }
  .menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
  }
 
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    margin: 0 .2em 1em;
    &:hover {
      background: red;
    }
  }

  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
  }
  
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
  }
  
  .slide-1 {
    background-image: url("https://source.unsplash.com/ilver-iphone-5s-beside-earpods-_mGm3VJUCtw/1600x900");
  }
  .slide-2 {
    background-image: url("https://source.unsplash.com/person-holding-white-printer-paper-5uJMG9fUAO0/1600x900");
  }
  .slide-3 {
    background-image: url("https://source.unsplash.com/man-in-black-crew-neck-top-using-smartphone-8pCtwj37VB4/1600x900");
  }
  
  form {
    padding: 20px;
    border: 1px solid #eee;
    background: #f2f2f2;
    width: 60%;
  }
   
  label, input {
    display: block;
    width: 100%;
  }
  input { padding: 10px; }
  label { padding: 10px 0; }
  input[type=submit] { margin-top: 10px; }
   
  /* FOOTER */
  footer {
      background: #abab83;
      border: none;
      padding: 10px;
      margin: 2px auto;
      width: 90%;
      height: 100%;
      display: block;
  }
  .row{
    width: 100%;
    height: 120px;
    
  }
  .column {
    float: left;
    margin-left: 30px;
  }
  .left {
    width: 35%;
  }
  .middle {
    width: 20%;
  }
  .middle2 {
    width: 15%;
  }
  .right {
    width: 20%;
  }
  .column ul {
    list-style-type: none;
  }
  .column li {
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
  }
  .column li h3 {
    color: #777;
  }
  /* GALLERY */
  .container {
    width: 100%;
    height: 100%;
  }
   
  .top {
    width: 80vw;
    height: auto;
  }
   
  .top ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em; 
    list-style: none;
    padding: 2em;
    width: 100%;
    height: auto;
    box-sizing: border-box; 
  }
   
  .top ul li {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    overflow: hidden;
  }
   
  .top ul li::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: "";
    color: white;
    opacity: 0.4;
    text-align: center;
    box-sizing: border-box;
    pointer-events: none;
  }
   
  .top ul li:hover::before {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
  }
   
  .top ul li img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
   
  .lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
  }
   
  .lightbox img {
    max-width: 90%;
    max-height: 80%;
    position: relative;
    top: -100%;
  }
   
  .lightbox:target {
    outline: none;
    top: 0;
    opacity: 1;
    pointer-events: auto;
  }
   
  .lightbox:target img {
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
  